/* Styles pour petits écrans (téléphones) */
body {
    background-image: url('../images/code.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(8px);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
}

.gauche {
    width: 100%;
    padding: 15% 5%;
    text-align: center;
}

.globe-logo {
    width: 50%;
    height: auto;
}

h1 {
    font-family: "Zen Dots", sans-serif;
    font-size: 2rem;
    color: #fff;
    margin: 2% 0;
}

h2 {
    font-family: "Zen Dots", sans-serif;
    font-size: 1.5rem;
    color: #b3582c;
    margin: 1% 0;
}

.droite {
    width: 100%;
    background: linear-gradient(to bottom, rgba(53, 51, 205, 1) 0%, rgba(53, 51, 205, 0.8) 100%);
    padding: 10%;
    text-align: center;
}

.menu a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin: 5% 0;
    display: block;
}

.menu hr {
    width: 80%;
    border: none;
    border-top: 1px solid #fff;
    margin: 10px auto;
}
