/* Styles de base pour le corps de la page */
body {
    /* Image de fond avec positionnement centré et couverture totale */
	background-color: rgb(0, 0, 0);
  	/* Police principale pour tout le contenu de la page */
	font-family: "Kanit", sans-serif;
  	/* Poids de la police défini à light par défaut */
	font-weight: 300;
  	/* Nécessaire pour positionner correctement les éléments relatifs */
	position: relative;
}

/* Style pour les titres de niveau 2 */
h2 {
	font-family: "Zen Dots", sans-serif; /* Même police décorative */
	font-size: 2.5rem; /* Taille de police plus petite */
	color: rgba(53,51,205); /* Couleur marron orangé */
	margin: 10px 0; /* Marges verticales */
}

h3 {
	font-family: "Zen Dots", sans-serif; /* Police décorative */
	font-size: 1.5rem; /* Taille de police */
	color: #ffffff; /* Couleur blanche */
	margin: 10px 0; /* Marges verticales */
}

p {
    font-family: "Arial", sans-serif;
    color: white;
    margin: 10px 0; /* Marges verticales */
}

/* Conteneur de la grille d'images */
.image-grid {
    display: grid;
    grid-template-columns: repeat(13, 1fr); /* 5 colonnes égales */
    gap: 16px; /* Espace entre les éléments */
    width: 100%;
    max-width: 2000px;
    padding: 16px; /* Espacement intérieur pour éviter que le contenu touche les bords */
    box-sizing: border-box; /* Assure que le padding ne dépasse pas la largeur totale */
}

/* Style des éléments de la grille */
.image-item {
    display: flex;
    justify-content: center;  /* Centre l'image horizontalement */
    align-items: center;      /* Centre l'image verticalement */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1;
    background-color: white; /* Couleur de fond spécifique pour chaque case */
}

/* Style des images */
.image-item img {
    max-width: 95%;  /* L'image s'adapte à la largeur de la case */
    max-height: 95%; /* L'image s'adapte à la hauteur de la case */
    object-fit: contain; /* Maintient le ratio de l'image tout en remplissant la case */
    display: block; /* Supprime l'espace sous l'image */
}

